@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&display=swap");  
@media only screen and (max-width: 600px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {
    .container {
        width: 50%; 
        margin: 0 auto; 
    }
}
@media only screen and (min-width: 1200px) {}


* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    }

body {
    font-family: 'Gothic A1', sans-serif;   
    background-image:url("white-brick.png"); 
    padding: 20px 85px 20px 85px; 
}


a {
    color:#242424;   
    text-decoration: none; 
}

a:hover {
    color: #f94b34;  
}

.container {
    width: 100%; 
}


.header {
    font-family:'Lato', sans-serif; 
    text-align: center; 
    font-size: 30px; 
    font-weight: bold;
    padding-right: 500px; 
}


h1 {
    font-family:'Lato', sans-serif; 
    font-size: 70px; 
    font-weight: bold;
    color:#ffffff; 
    position: relative; 
    right: 35px; 
    -webkit-text-stroke: 0.3px #242424;
}

.breadcrumb {
    font-family:'Lato', sans-serif; 
    font-size: 24px; 
    position: relative; 
    right: 147px; 
    top: 45px; 
}

#book-image {
    width: 65%; 
    height: auto;  
    position: relative;
    top: 0px; 
    left: 210px; 
    border: 2px solid; 
    border-color:#616060;
    box-shadow: 5px 10px 8px #888888; 

}

#book-text {
  background-color: #f97c34;  
  font-family: 'Gothic A1', sans-serif; 
  font-size: 30px; 
  text-align: center;
  color:#000000; 
  position: relative; 
  border: 1px;
  border-color: #616060; 
  border-style: solid; 
  

}

#monthly-book {
    background-image: url(booky.png); 
    width: 100%; 
    border: 1px solid; 
    border-color: #616060;  
    box-shadow: 5px 10px 8px #888888; 
}

.book {
    margin-top: 10px; 
    margin-bottom: 15px; 
    border-bottom: 1px solid rgb (209, 209, 209); 
    display: flex; 
    background-color:#FFFFFF; 
    box-shadow: 5px 10px 8px #888888; 
    line-height: 1.5; 
    text-align: justify;
    font-size: 16px;
    color: #242424; 
}


.book,
.page,
.list {
    padding: 5px 10px; 
}

.book div {
    padding-left: 10px;
    padding-bottom: 30px; 
}


.book article {
    padding-left: 10px;
}

.book h2 {
    font-family: 'Gothic A1', sans-serif;
    color: #f94b34;  
}

.book .author {
    color: #f97c34; 
    font-weight: bold;
    text-decoration: underline; 
}

.book .price {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif; 
    color: #f97c34; 
}


.book .addbtn,
.searchBar input[type=submit] {
    padding: 8px 10px;
    border: 0px;
    border-radius: 5px;
    min-width: 80px;
    color: #fff;
    float: right;
    font-size: 1.1em;
    font-family:'Gothic A1', sans-serif; 
}

.q {
    position: relative; 
    top: 0px; 
    right: 48px; 
    font-size: 13px; 
    font-weight: bold; 
    color:#616060; 
    
}

.book .addbtn {
    background-color: #F97C34;
    float: right;
    position: relative;
    font-family: 'Gothic A1', sans-serif; 
    font-weight: bold; 
    box-shadow: 5px 10px 8px #888888; 
    border: 2px solid #9e9e9e;

}

.book .removebtn {
    padding: 10px 15px;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    float: right;
    font-size: 1.1em;
    font-weight: bold;
    font-size: 1.2em;
}


.searchBar {
    text-align: center; 
}

.searchBar form {
    width: 30%;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    left: 710px; 
    top: 10px;  
}

.searchBar input[type=text] {
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
    font-size: 1.3em;
    border: 2px solid #9e9e9e;
    width: 80%;
    margin-right: 5px;
}

.searchBar input[type=submit] {
    background-color: #F97C34;
    font-family: 'Gothic A1', sans-serif;
    font-weight: bold; 
    width: 15%;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid #9e9e9e; 
    position: relative; 
    left: 60px; 
    bottom: 40px; 
   
}